body {
    background-color: burlywood;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

video {
    width: 70%;
    border: 5px solid #4caf50;
    border-radius: 20px;
}
